# Xcode
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.build/

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Xcode project user settings (keep scheme files)
*.xcodeproj/xcuserdata/
